/* prueba de comentario 
 */
 body {
    background-color: #dfe0de;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;}

card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    background-color: #ffffff;
    }
   i{
      font-size: 48px;
      margin: 40px 20px 10px 20px;
      text-align: center;
   }
   